.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10vh;
}

.header-container-ellipse1 {
  position: absolute;
  width: 475px;
  height: 449px;
  left: -90px;
  top: -85px;
}

.header-container-ellipse2 {
  position: absolute;
  width: 475px;
  height: 449px;
  right: -90px;
  bottom: -85px;
  z-index: -10;
}

.header-container-left {
  padding: 10vh 25vh;
  flex: 1;
  z-index: 100;
}

.header-container-left-heading {
  position: relative;
  top: -5vh;
  font-weight: bold;
  font-size: 50px;
  color: #a90051;
}
span {
  margin-top: -6vh;
}
.header-container-left-tag {
  position: absolute;
  font-weight: bold;
  font-size: 45px;
}
.header-container-content {
  position: absolute;
  font-size: 20px;
  margin-top: 10vh;
  margin-right: 50%;
}

.header-container-right {
  flex: 1;
}

.header-container-right > img {
  margin-top: 20vh;
  width: 60%;
}
