.event {
   border-left: 5px solid rgb(80, 77, 209);
}

.event-img {
   border-radius: 0%;
   height: 300px;
   width: 250px;
}

.search-bar>input {
   height: 50px;
   width: 100%;
   font-family: Courier;
   padding: 15px;
   outline: none;
   border: 0;
 }
 
 .search-bar {
   border-radius: 5px;
   border: 1px solid rgb(234, 233, 233);
   display: flex;
   background-color: white;
   outline: none;
 }

 .search-icon{
    height: 30px;
    padding-top: 10px;
    padding-right: 3px;
 }

 .search-icon>img{
    height: 30px;
 }

 .search-clear{
   height: 30px;
   padding-top: 12px;
   padding-right: 3px;
}

.search-clear>img{
   height: 20px;
   width: 25px;
}