.header {
   height: 100vh;
   width: 100%;
}

.header-text {
   margin-top: auto;
   margin-bottom: auto;
}

.header-excel {
   color: #2a2a53;
   font-size: 40px;
}

.header-desc {
   color: #8585a8;
}

.excel-logo {
   width: auto;
   margin-top: auto;
   margin-bottom: auto;
}
